
html, body
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}



input[type=submit]
{
    height: 20px;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 11px !important;
}

input[type=submit]
{
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    background-color: #3d3d3d;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background: rgb(92,92,92);
    background: -moz-linear-gradient(top, rgba(92,92,92,1) 0%, rgba(104,104,104,1) 12%, rgba(116,116,116,1) 25%, rgba(88,88,88,1) 39%, rgba(63,63,63,1) 50%, rgba(38,38,38,1) 53%, rgba(23,23,23,1) 60%, rgba(62,62,62,1) 76%, rgba(48,48,48,1) 91%, rgba(40,40,40,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(92,92,92,1)), color-stop(12%,rgba(104,104,104,1)), color-stop(25%,rgba(116,116,116,1)), color-stop(39%,rgba(88,88,88,1)), color-stop(50%,rgba(63,63,63,1)), color-stop(53%,rgba(38,38,38,1)), color-stop(60%,rgba(23,23,23,1)), color-stop(76%,rgba(62,62,62,1)), color-stop(91%,rgba(48,48,48,1)), color-stop(100%,rgba(40,40,40,1)));
    background: -webkit-linear-gradient(top, rgba(92,92,92,1) 0%,rgba(104,104,104,1) 12%,rgba(116,116,116,1) 25%,rgba(88,88,88,1) 39%,rgba(63,63,63,1) 50%,rgba(38,38,38,1) 53%,rgba(23,23,23,1) 60%,rgba(62,62,62,1) 76%,rgba(48,48,48,1) 91%,rgba(40,40,40,1) 100%);
    background: -o-linear-gradient(top, rgba(92,92,92,1) 0%,rgba(104,104,104,1) 12%,rgba(116,116,116,1) 25%,rgba(88,88,88,1) 39%,rgba(63,63,63,1) 50%,rgba(38,38,38,1) 53%,rgba(23,23,23,1) 60%,rgba(62,62,62,1) 76%,rgba(48,48,48,1) 91%,rgba(40,40,40,1) 100%);
    background: -ms-linear-gradient(top, rgba(92,92,92,1) 0%,rgba(104,104,104,1) 12%,rgba(116,116,116,1) 25%,rgba(88,88,88,1) 39%,rgba(63,63,63,1) 50%,rgba(38,38,38,1) 53%,rgba(23,23,23,1) 60%,rgba(62,62,62,1) 76%,rgba(48,48,48,1) 91%,rgba(40,40,40,1) 100%);
    background: linear-gradient(to bottom, rgba(92,92,92,1) 0%,rgba(104,104,104,1) 12%,rgba(116,116,116,1) 25%,rgba(88,88,88,1) 39%,rgba(63,63,63,1) 50%,rgba(38,38,38,1) 53%,rgba(23,23,23,1) 60%,rgba(62,62,62,1) 76%,rgba(48,48,48,1) 91%,rgba(40,40,40,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5c', endColorstr='#282828',GradientType=0 );
    background: rgb(76,76,76);
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 40%, rgba(63,63,63,1) 53%, rgba(44,44,44,1) 56%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(40%,rgba(71,71,71,1)), color-stop(53%,rgba(63,63,63,1)), color-stop(56%,rgba(44,44,44,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1)));
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 40%,rgba(63,63,63,1) 53%,rgba(44,44,44,1) 56%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 40%,rgba(63,63,63,1) 53%,rgba(44,44,44,1) 56%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 40%,rgba(63,63,63,1) 53%,rgba(44,44,44,1) 56%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 40%,rgba(63,63,63,1) 53%,rgba(44,44,44,1) 56%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
    height: 22px;
}

input[type=submit].Right
{
    float: right;
    margin-left: 5px;
}

input
{
    border: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}


.username
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 11px !important;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    color: #FFF;
}


html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


body.Black
{
    #background-color: #000;
}


div.Main
{
    position: relative;
    width: 96%;
    height: 100%;
    #min-height: 400px;
    min-width: 600px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

div.contentWrapper
{
    position: absolute;
    padding-top: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40px;
    #background-color: #666;
    background-color: #FFF;
}

.buttonFrame
{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    height: 20px;
    background-color: #666;
}



.content-well-v2.blur
{
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    margin-bottom: 50px;
}



*
{
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari, Edge */
    color-adjust: exact !important; /*Firefox*/
}


@media print {
  @page { 
      margin: 1.5cm; 
      size: A4;
  }

  body { margin: 1.5cm; }
}

@media print
{
    tr.page-break
    {
        display: block;
        page-break-after: always;
        break-after: always;
    }
}


@keyframes blinker
{
    50%
    {
        opacity: 0;
    }
}


@media only screen
{

    .blink_me
    {
        #IE does not support nested queries, so move keyframe out;
        animation: blinker 1.5s linear infinite;
    }
}


td.slimBlackBorder
{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

td.verticalColumn
{
    vertical-align: bottom;
    #width: 40px;
    #height: 100px;
    #border: 1px solid white;
    #background-color: black;
    text-align: center;
    padding-top: 1mm;
    padding-bottom: 0.5mm;
}

.vert
{
    display: inline-block;
    text-align: left;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    transform-origin: center;
    transform: rotate(180deg);
    font-family: Arial;
    #font-size: 11px;
    #font-weight: 500;
    line-height: 1.25em;
    letter-spacing: 0.15mm;
    font-size: 15px;
    #font-weight: bold;
    font-weight: 550;
}


.remLines
{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}


.notes
{
    display: block;
    width: 100%;
    height: 5cm;
    overflow: auto;
    margin: 0;
    padding: 0;
    resize: none;
    #border-radius: 8px;
    border: none;
    #border: 1px solid #ccc;
    #box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, Sans-serif;
    line-height: 31px;
    background-image: -webkit-linear-gradient(left, white 0px, transparent 0px), -webkit-linear-gradient(right, white 0px, transparent 0px), -webkit-linear-gradient(white 30px, #000 30px, #000 31px, white 31px);
    background-image: -moz-linear-gradient(left, white 0px, transparent 0px), -moz-linear-gradient(right, white 0px, transparent 0px), -moz-linear-gradient(white 30px, #000 30px, #000 31px, white 31px);
    background-image: -ms-linear-gradient(left, white 0px, transparent 0px), -ms-linear-gradient(right, white 0px, transparent 0px), -ms-linear-gradient(white 30px, #000 30px, #000 31px, white 31px);
    background-image: -o-linear-gradient(left, white 0px, transparent 0px), -o-linear-gradient(right, white 0px, transparent 0px), -o-linear-gradient(white 30px, #000 30px, #000 31px, white 31px);
    background-image: linear-gradient(left, white 0px, transparent 0px), linear-gradient(right, white 0px, transparent 0px), linear-gradient(white 30px, #000 30px, #000 31px, white 31px);
    background-size: 100% 100%, 100% 100%, 100% 31px;
    background-attachment: local;
}

.notes:focus
{
    outline: none;
}
